.jumbotron {
    position: relative;
    background: #000 url("https://a248.e.akamai.net/secure.meetupstatic.com/photos/theme_body/3/d/6/0/full_7275712.jpeg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
